body {
	color:#444;
	font:normal 16px "Raleway","Helvetica Neue",Helvetica,Arial,sans-serif;
	font-weight:300;
	background-color:#fff;
	overflow-x:hidden;
	line-height:1.5;
}
a {
	color:#3498db;
	cursor:pointer;
	text-decoration:none;
		-moz-transition:all .2s;
	-o-transition:all .2s;
	-webkit-transition:all .2s;
	transition:all .2s;
}
a:hover,a:focus {
	color:#3498db;
	outline:none;
	text-decoration:none;
}
h1,h2,h3,h4,h5,h6,.h1,.h2,.h3,.h4,.h5,.h6 {
	font-family:"Raleway","Helvetica Neue",Helvetica,Arial,sans-serif;
	font-weight:bold;
	margin-bottom:15px;
	margin-top:0;
    text-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
}
h1, .h1 {
	font-size:38px;
    text-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
}
h2, .h2 {
	font-size:32px;
    text-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
}
h3, .h3 {
	font-size:24px;
	display:block;
    text-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
}
h4 {
	font-size:20px;
}
h5 {
	font-size:18px;
}
h6 {
	font-size:16px;
}
p.lead {
	font-size:24px;
	font-weight:200;
}
p {
	margin-bottom:20px;
}
p:last-child {
	margin-bottom:0;
}
ul,ol {
	margin-bottom:20px;
}
blockquote {
	padding-top:0;
	padding-bottom:0;
	border-color:#1ABC9C;
}


/*	Header	==================================================*/
#header {
	box-shadow:0 0 5px rgba(0,0,0,.05);
	-webkit-box-shadow:0 0 5px rgba(0,0,0,.05);
	-moz-box-shadow: 0 0 5px rgba(0,0,0,.05);
}
/*	Parallax Background	==================================================*/
#parallax {
	height:100%;
	width:100%;
	top:0;
	position:fixed;
	background-image:url('http://i66.tinypic.com/6jgb4h.jpg');
	background-position:center center;
	background-repeat:no-repeat;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
    z-index: -100 !important
}

/*
 Turn off parallax scrolling for tablets and phones. Increase/decrease the pixels if needed 
@media only screen and (max-device-width: 1024px) {
    .parallax {
        background-attachment: scroll;
    }
}
*/

/*	Navbar	==================================================*/

.navbar-brand-centered {
    position: absolute;
    left: 50%;
    display: block;
    width: 160px;
    text-align: center;
    background-color: transparent;
}
.navbar>.container .navbar-brand-centered, 
.navbar>.container-fluid .navbar-brand-centered {
    margin-left: -80px;
}

.navbar .navbar-brand-centered {
    text-transform:uppercase;
	font-size:14px;
	font-weight:bold;
    color: aliceblue;
}

/* color */
.navbar{
    background: rgba(0,0,0,0.4);
    border:none;
}

/* collapsing buttons?*/
.navbar-right button:hover {
	color: rgba(0,0,0,0.4);
    background: transparent;
}


/* navbar list font size and color */
.navbar .navbar-nav>li>a {
	text-transform:uppercase;
	font-size:12px;
	font-weight:bold;
    color: aliceblue;
}

/* navbar list hover */
.navbar .navbar-nav>li>a:hover,.navbar-inverse .navbar-nav>li>a:focus,.navbar-inverse .navbar-nav>.active>a,.navbar-inverse .navbar-nav>.active>a:hover,.navbar-inverse .navbar-nav>.active>a:focus {
	background-color:transparent;
	background-color:rgba(255,255,255,0);
	color:#01b0d1;
}


/*	Hero	==================================================*/
#hero {
    width: 100%;    /* test with lg resolution*/
    height: 100%    /* to test */
	margin-top:140px;
	padding:0;
	color:#FFF;
    text-align: center;
}
#hero .herotext {
	padding:30px 0px;
    text-align: center;
    text-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
}




#hero h1 {
	font-size:50px;
}
#hero p.lead {
	font-size:1.4em;
}
#hero .btn {
	font-size:10px;
}

/*	Main Title ================================================*/
.maintitle h1 {
	text-transform:uppercase;
}
.maintitle,.service-box {
	text-align:center;
}
.maintitle .lead {
	max-width:840px;
	margin:0px auto;
	margin-bottom:80px;
	padding-left:20px;
	padding-right:20px;
}

/*	The animation Boxes	=========================================*/
/*
#features {
	background-color:#01B0D1;
	color:#FFF;
}
*/

.service-box {
	margin-bottom:30px;
	background-color:#fff;
	color:#444;
	padding:30px;
	  position: relative;
}
.service-box .glyphicon {
	font-size:60px;
	margin-bottom:20px;
}
.service-box img {
	margin-bottom: 29px;
}


/* Map */

#map{
    display: block;
    margin: auto;  
}

.map {
  height: 500px;
}

@media(max-width:768px) {
  .map {
    height: 75%;
  }
}

.map iframe {
  pointer-events: none;
}


blockquote small {
	color:inherit;
}

pre {
	background-color:rgba(255,255,255,.5);
	border-color:rgba(0,0,0,.1);
	margin-bottom:20px;
}
.lighter {
	font-weight:100;
}

img {
	max-width: 100%;
}


/*	Registration Page	======================================*/

@-webkit-keyframes HeroBG {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 100% 0;
  }
  100% {
    background-position: 0 0;
  }
}

@keyframes HeroBG {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 100% 0;
  }
  100% {
    background-position: 0 0;
  }
}

.panel-login {
   border: none;
  -webkit-box-shadow: 0px 0px 49px 14px rgba(188,190,194,0.39);
  -moz-box-shadow: 0px 0px 49px 14px rgba(188,190,194,0.39);
  box-shadow: 0px 0px 49px 14px rgba(188,190,194,0.39);
    
  }
.panel-login .checkbox input[type=checkbox]{
  margin-left: 0px;
}
.panel-login .checkbox label {
  padding-left: 25px;
  font-weight: 300;
  display: inline-block;
  position: relative;
}
.panel-login .checkbox {
 padding-left: 20px;
}
.panel-login .checkbox label::before {
  content: "";
  display: inline-block;
  position: absolute;
  width: 17px;
  height: 17px;
  left: 0;
  margin-left: 0px;
  border: 1px solid #cccccc;
  border-radius: 3px;
  background-color: #fff;
  -webkit-transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
  -o-transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
  transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
}
.panel-login .checkbox label::after {
  display: inline-block;
  position: absolute;
  width: 16px;
  height: 16px;
  left: 0;
  top: 0;
  margin-left: 0px;
  padding-left: 3px;
  padding-top: 1px;
  font-size: 11px;
  color: #555555;
}
.panel-login .checkbox input[type="checkbox"] {
  opacity: 0;
}
.panel-login .checkbox input[type="checkbox"]:focus + label::before {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}
.panel-login .checkbox input[type="checkbox"]:checked + label::after {
  font-family: 'FontAwesome';
  content: "\f00c";
}
.panel-login>.panel-heading .tabs{
  padding: 0;
}
.panel-login h2{
  font-size: 20px;
  font-weight: 300;
  margin: 30px;
}
.panel-login>.panel-heading {
  color: #848c9d;
  background-color: #e8e9ec;
  border-color: #fff;
  text-align:center;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  border-bottom: 0px;
  padding: 0px 15px;
}
.panel-login .form-group {
  padding: 0 30px;
}
.panel-login>.panel-heading .login {
  padding: 20px 30px;
  border-bottom-leftt-radius: 5px;
}
.panel-login>.panel-heading .register {
  padding: 20px 30px;
  background: #2d3b55;
  border-bottom-right-radius: 5px;
}
.panel-login>.panel-heading a{
  text-decoration: none;
  color: #666;
  font-weight: 300;
  font-size: 16px;
  -webkit-transition: all 0.1s linear;
  -moz-transition: all 0.1s linear;
  transition: all 0.1s linear;
}
.panel-login>.panel-heading a#register-form-link {
  color: #fff;
  width: 100%;
  text-align: right;
}
.panel-login>.panel-heading a#login-form-link {
  width: 100%;
  text-align: left;
}

.panel-login input[type="text"],.panel-login input[type="email"],.panel-login input[type="password"] {
  height: 45px;
  border: 0;
  font-size: 16px;
  -webkit-transition: all 0.1s linear;
  -moz-transition: all 0.1s linear;
  transition: all 0.1s linear;
  -webkit-box-shadow: none;
  box-shadow: none;
  border-bottom: 1px solid #e7e7e7;
  border-radius: 0px;
  padding: 6px 0px;
}
.panel-login input:hover,
.panel-login input:focus {
  outline:none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  border-color: #ccc;
}
.btn-login {
  background-color: #E8E9EC;
  outline: none;
  color: #2D3B55;
  font-size: 14px;
  height: auto;
  font-weight: normal;
  padding: 14px 0;
  text-transform: uppercase;
  border: none;
  border-radius: 0px;
  box-shadow: none;
}
.btn-login:hover,
.btn-login:focus {
  color: #fff;
  background-color: #2D3B55;
}
.forgot-password {
  text-decoration: underline;
  color: #888;
}
.forgot-password:hover,
.forgot-password:focus {
  text-decoration: underline;
  color: #666;
}

.btn-register {
  background-color: #E8E9EC;
  outline: none;
  color: #2D3B55;
  font-size: 14px;
  height: auto;
  font-weight: normal;
  padding: 14px 0;
  text-transform: uppercase;
  border: none;
  border-radius: 0px;
  box-shadow: none;
}
.btn-register:hover,
.btn-register:focus {
  color: #fff;
  background-color: #2D3B55;
}



/*	Resume Page	==================================================*/

/* layout.css Style */
.upload-drop-zone {
  height: 200px;
  border-width: 2px;
  margin-bottom: 20px;
}

/* skin.css Style*/
.upload-drop-zone {
  color: #ccc;
  border-style: dashed;
  border-color: #ccc;
  line-height: 200px;
  text-align: center
}
.upload-drop-zone.drop {
  color: #222;
  border-color: #222;
}


.image-preview-input {
    position: relative;
    overflow: hidden;
    margin: 0px;    
    color: #333;
    background-color: #fff;
    border-color: #ccc;    
}
.image-preview-input input[type=file] {
	position: absolute;
	top: 0;
	right: 0;
	margin: 0;
	padding: 0;
	font-size: 20px;
	cursor: pointer;
	opacity: 0;
	filter: alpha(opacity=0);
}
.image-preview-input-title {
    margin-left:2px;
}

/*	Section	==================================================*/
.active-section {
	top:0px;
}
.navbar.active-section {
	top:0 !important;
}
.section-title {
	text-transform:uppercase;
	font-size:30px;
	letter-spacing:5px;
}
.whitecolor {
	color: #fff;
}

/*	Button & Label	==================================================*/
.alert {
	color:#FFF;
	border:none;
}
[class^="alert-"] .alert-link,[class*=" alert-"] .alert-link {
	color:#FFF;
	font-weight:300;
	text-decoration:underline;
}
.btn,.label {
	border-radius:0px;
	-moz-border-radius:0px;
	-webkit-border-radius:0px;
	-moz-transition:all .2s;
	-o-transition:all .2s;
	-webkit-transition:all .2s;
	transition:all .2s;
}
.btn {
	font-weight:400;
	text-transform:uppercase;
	font-size:13px;
	letter-spacing:3px;
}
.btn:hover,.btn:focus {
	outline:none;
}
.btn-link {
	color:#1abc9c;
}
.btn-link:hover,.btn-link:focus {
	color:#16a085;
}
.btn-default,.label-default {
	border-color:#FFF;
	color:#fff;
	background-color:transparent;
	border-width:2px;
	padding:15px 20px;
}
.btn-default:hover,.btn-default:focus {
	background-color:#F9FAFD;
	border-color:#F9FAFD;
	color:#444;
}
.btn-success,.label-success,.alert-success {
	background-color:#FFF;
	border-color:#FFF;
	color:#1E2024;
}
.btn-success:hover,.btn-success:focus {
	border-color:#FFF;
	background-color:#FFF;
	color:#000;
}
.btn-primary,.label-primary {
	background-color:#444;
	border-color:#444;
}
.btn-primary:hover,.btn-primary:focus {
	background-color:#d33c00;
	border-color:#d33c00;
}
.btn-info,.label-info,.alert-info {
	background-color:#FFF;
	border-color:#FFF;
	color:#01B0D1;
}
.btn-info:hover,.btn-info:focus {
	background-color:#FFF;
	border-color:#FFF;
	color:#0299b8;
}
.btn-warning,.label-warning,.alert-warning {
	background-color:#e67e22;
	border-color:#e67e22;
}
.btn-warning:hover,.btn-warning:focus {
	background-color:#d35400;
	border-color:#d35400;
}
.btn-danger,.label-danger,.alert-danger {
	background-color:#e74c3c;
	border-color:#e74c3c;
}
.btn-danger:hover,.btn-danger:focus {
	background-color:#c0392b;
		border-color: #c0392b;
}

/*	Tab & Collapse Skin	==================================================*/
.tab-pane {
	padding:15px 0;
	margin-bottom:5px;
}
.nav-tabs {
	border-bottom-color:#ecf0f1;
}
.nav-tabs>li>a {
	padding:10px 0;
	margin-right:30px;
	color:inherit;
	font-size:16px;
	border:none;
	border-bottom:1px solid rgba(255,255,255,0);
}
.nav .open>a,.nav .open>a:hover,.nav .open>a:focus {
	background:transparent;
	border:none;
	border-color:rgba(255,255,255,0);
}
.nav>li>a:hover,.nav>li>a:focus {
	background-color:#ecf0f1;
}
.nav-tabs>li>a:hover,.nav-tabs>li>a:focus {
	color:#1abc9c;
	background:transparent;
}
.nav-tabs>li.active>a,.nav-tabs>li.active>a:hover,.nav-tabs>li.active>a:focus {
	background:transparent;
	border:none;
	color:#1abc9c;
	border-bottom:1px solid #1abc9c;
}
.nav-pills>li.active>a,.nav-pills>li.active>a:hover,.nav-pills>li.active>a:focus {
	background-color:#1abc9c;
}
.nav .caret,.nav a:hover .caret {
	border-top-color:#1abc9c;
	border-bottom-color:#1abc9c;
}
.dropdown-menu>.active>a,.dropdown-menu>.active>a:hover,.dropdown-menu>.active>a:focus {
	background-color:#1abc9c;
}
.navbar-inverse .navbar-collapse,.navbar-inverse .navbar-form {
	border-color:#bdc3c7;
}
.navbar-inverse .navbar-toggle {
	background-color:#34495e;
	border-color:#2c3e50;
	margin-top:23px;
}
.navbar-inverse .navbar-toggle:focus {
	outline:none;
}
.panel {
	box-shadow:none;
	-webkit-box-shadow:none;
	-moz-box-shadow:none;
}
.panel-default {
	border-color:#eee;
}
.panel-default:last-child {
	margin-bottom:25px;
}
.panel-default>.panel-heading {
	background:#fff;
	color:#444;
}
.panel-heading {
	padding:20px 25px;
}
.panel-default>.panel-heading a:hover {
	color:#01b0d1;
}
.panel-default>.panel-heading+.panel-collapse .panel-body {
		border-top:1px solid #eee;
}
.panel-group .panel {
	border-radius: 0;
}

/*	Gallery	==================================================*/ 

#gallery img {
	width:100%;
	height:auto;
		transition:all .3s ease-in-out;
}
#gallery img:hover {
	transform:scale(1.3);
}
#gallery a {
	display:block;
	overflow:hidden;
	margin-bottom:30px;
}
#gallery a img {
	margin-bottom:0px;
	display:block;
	width:100%;
	max-width:100%;
}
#gallery .description {
	background-color:#fff;
	display:block;
	padding:20px 15px;
	color:#333;
	text-transform:uppercase;
	clear:both;
	position: relative;
}
#gallery .caption {
	float:left;
}
#gallery .camera {
	float:right;
}
#gallery a.btn {
	display:inline-block;
}

/*	Faq==================================================*/ 
#faq {
	background-color:#F9FAFD;
}
.faq-block {
	margin:0px;
}

/*	Slider	==================================================*/ 
#slider {	
	color:#FFF;
}
.carousel-control.left,.carousel-control.right {
	background-image:none;
}
.carousel-control {
	color:#FFF;
	opacity:1;
	text-shadow:none;
}
.carousel-control:hover {
	color:#CCC;
}
.carousel-indicators li {
	border-color:#FFF;
	margin:0 2px;
	height:15px;
	width:15px;
	border-radius:10px;
	-webkit-border-radius:10px;
	-moz-border-radius:10px;
	margin:0 2px;
		-moz-transition:all .2s;
	-o-transition:all .2s;
	-webkit-transition:all .2s;
	transition:all .2s;
}
.carousel-indicators .active {
	height:15px;
	width:15px;
	border-radius:10px;
	-webkit-border-radius:10px;
	-moz-border-radius:10px;
	margin:0 2px;
	background-color:#FFF;
	border:1px solid #FFF;
}
.carousel.slide {
	-moz-transition:all .2s;
	-o-transition:all .2s;
	-webkit-transition:all .2s;
	transition:all .2s;
}
.carousel-inner blockquote {
	border:none;
	text-align:center;
	padding:40px 10%;
}
.carousel-inner blockquote small {
	font-size:14px;
	text-transform:uppercase;
	font-weight:400;
}
.carousel-inner blockquote p {
	font-size:36px;
}
.carousel-control .glyphicon {
	left:50%;
	margin-top:-10px;
	margin-left:-10px;
	font-size:20px;
}
.carousel-indicators {
	bottom:-20px;
}
.carousel-control {
	background:transparent;
	position:absolute;
	top:50%;
	margin-top:0px;
		border-radius:20px;
	-webkit-border-radius:20px;
	-moz-border-radius:20px;
		height:40px;
	width:40px;
}

/*	Common	==================================================*/ 
.section {	
	
}
.wrapsection {  
    padding-top:140px;
	padding-bottom:140px;
    position: relative;
  }

.parallax.section .container{
	position: relative;
	z-index: 4;
}
.justtitle {
	margin-top:80px;
}
.parallax {
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	overflow: hidden;
	z-index: 1;	
	color:#fff;
}
.parallax-overlay {
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	z-index: 2;
}

/*	Footer	==================================================*/

footer {
    padding: 100px 0;
    text-align: center;
}

#to-top {
  font-size: 1em;
  position: fixed;
  right: 5px;
  bottom: 5px;
  display: none;
  padding: 15px 20px;
}

hr.small {
  max-width: 100px;
}

/* social buttons */

.icon-circle a {
    padding: 0 5px;
}

 .icon-circle .fa{
    font-size           : 15px;
    color               : #e84700;
    margin              : 0 auto;
    height              : 40px;
    width               : 40px;
    border-radius       : 50%;
    border              : 2px solid #e84700;
    line-height         : 40px;
    cursor              : pointer;
    -webkit-transition  : all  ease-in-out 0.35s;
    -moz-transition     : all  ease-in-out 0.35s;
    -o-transition       : all  ease-in-out 0.35s;
    -ms-transition      : all  ease-in-out 0.35s;
    transition          : all  ease-in-out 0.20s,background-color ease-in-out 0.05s;
}

.icon-circle  .fa:hover{
    
    background-color        : #e84700;    
    color                   : #fff;
    border                  : 1px solid #e84711;
    -moz-box-shadow         : inset 0px 0px 0px 5px #ffffff;
    -o-box-shadow           : inset 0px 0px 0px 5px #ffffff;
    -ms-box-shadow          : inset 0px 0px 0px 5px #ffffff;
    -webkit-box-shadow      : inset 0px 0px 0px 5px #ffffff;
    box-shadow              : inset 0px 0px 0px 5px #ffffff;
    -ms-transform           : scale(1.2,1.2); 
    -webkit-transform       : scale(1.2,1.2);
    -moz-transform          : scale(1.2,1.2); 
    -o-transform            : scale(1.2,1.2); 
    transform               : scale(1.2,1.2);  
}

.icon-circle  i:before{
    margin-left         : 0px;
    font-size           : 20px;
}  
@media (min-width:320px) and (max-width:768px) {


 .icon-circle .fa{
    font-size           : 15px;
    color               : #e84700;
    margin              : 0 auto;
    height              : 40px;
    width               : 40px;
    border-radius       : 50%;
    border              : 2px solid #e84700;
    line-height         : 40px;
    cursor              : pointer;
    -webkit-transition  : all  ease-in-out 0.35s;
    -moz-transition     : all  ease-in-out 0.35s;
    -o-transition       : all  ease-in-out 0.35s;
    -ms-transition      : all  ease-in-out 0.35s;
    transition          : all  ease-in-out 0.20s,background-color ease-in-out 0.05s;
}

.icon-circle  .fa:hover{
    
    background-color        : #e84700;    
    color                   : #fff;
    border                  : 1px solid #e84711;
    -moz-box-shadow         : inset 0px 0px 0px 5px #ffffff;
    -o-box-shadow           : inset 0px 0px 0px 5px #ffffff;
    -ms-box-shadow          : inset 0px 0px 0px 5px #ffffff;
    -webkit-box-shadow      : inset 0px 0px 0px 5px #ffffff;
    box-shadow              : inset 0px 0px 0px 5px #ffffff;
    -ms-transform           : scale(1.2,1.2); 
    -webkit-transform       : scale(1.2,1.2);
    -moz-transform          : scale(1.2,1.2); 
    -o-transform            : scale(1.2,1.2); 
    transform               : scale(1.2,1.2);  
}

.icon-circle  i:before{
    margin-left         : 0px;
    font-size           : 20px;
}   
}

.ifacebook .fa{
    color               :#3B5998;
    border              :2px solid #3B5998;
}
.ifacebook .fa:hover{
    
    background-color        : #3B5998;    
    color                   : #fff;
    border                  : 1px solid #3B5998;

}

.itwittter .fa{
    color               : #33ccff;
    border              :2px solid #33ccff;
}
.itwittter .fa:hover{
    
    background-color        : #33ccff;    
    color                   : #fff;
    border                  : 1px solid #33ccff;

}

.instagram .fa{
    color               : #cd486b;
    border              : 2px solid #cd486b;
}
.instagram .fa:hover{
    
    background-color        : #cd486b;    
    color                   : #fff;
    border                  : 1px solid #cd486b;

}

.iLinkedin .fa{
    color               : #007bb7;
    border              : 2px solid #007bb7;
}
.iLinkedin .fa:hover{
    
    background-color        : #007bb7;    
    color                   : #fff;
    border                  : 1px solid #007bb7;

}


/*	Responsive	==================================================*/ 

/* lg */   
@media screen and (min-width: 1900px){
  /*#code here*/
    #hero .container {
        width: 100%;
    }  
    .service-box {
					margin-bottom:30px;
	}
	#image img.img-responsive {
					margin-left:auto;
					margin-right:auto;
	}	
	.navbar-nav>li>a {
					margin:0 7px;
	}
}

@media (min-width: 1200px){
    #hero .container {
    width: 100%;
    }
   
}
/* md */
@media (max-width:991px) {

	.service-box {
					margin-bottom:30px;
	}
	#image img.img-responsive {
					margin-left:auto;
					margin-right:auto;
	}	
	.navbar-nav>li>a {
					margin:0 7px;
	}
}
@media (max-width:767px) {
	.section,.parallax.section .container {
					padding-top:30px;
					padding-bottom:30px;
	}
	.service-box,.img-responsive,.carousel {
					margin-bottom:30px;
	}
	.maintitle .lead {
					margin-left:0;
					margin-right:0;
	}
	.container {
					max-width:690px;
					padding-left:30px;
					padding-right:30px;
	}	
	.navbar-nav>li>a {
					padding:10px;
	}
	.header-button {
					margin:0;
	}
	#hero .herotext {
					padding: 90px 0px;
	}
}
@media (max-width:767px) {
	body {
					font-size:14px;
	}
	h1 {
					font-size:28px;
	}
	h2,.carousel-inner blockquote p {
					font-size:24px;
	}
	h3 {
					font-size:20px;
	}
	h4 {
					font-size:18px;
	}
	h5 {
					font-size:16px;
	}
	h6 {
					font-size:14px;
	}
	p.lead {
					font-size:18px;
	}
	.section {
					padding:60px 0;
	}
	.maintitle p.lead {
					margin-bottom:40px;
	}
	.service-box,.img-responsive,.carousel {
					margin-bottom:30px;
	}
	.maintitle .lead {
					margin-left:0;
					margin-right:0;
	}
	.container {
					max-width:690px;
					padding-left:30px;
					padding-right:30px;
	}	
    #hero .herotext {
					padding: 90px 0px;
}
/* for mobile */
@media (max-width:490px) {
	.wow {
					visibility: visible !important;
					-webkit-animation: none !important;
					 -moz-animation: none !important;
					   -o-animation: none !important;
					  -ms-animation: none !important;
						  animation: none !important;
	}
	.container {
					max-width:430px;
					padding-left:30px;
					padding-right:30px;
	}
	#hero h1 {
					font-size:38px;
	}
	#hero p.lead {
					font-size:1.5em;
	}	
	.faq-block {
					margin: 0;
	}
    #hero .herotext {
					padding: 90px 0px;
}